@import "src/settings.scss";

.menu {
  width: 300px;
  margin-right: 15px;
  background-color: $background;
  height: calc(100vh - 100px);

  .menu-list {
    ul {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        margin: 0;
        padding: 40px 15px;
        font-size: 1.3em;
      }
      button {
        margin: 0;
      }
    }
  }
}