@import "src/settings.scss";

.navigation-module {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px 2px black;
  padding: 0 6rem;

position: fixed;
z-index: 5;
  .logo {
    cursor: pointer;
    color: black;
    &:hover {
      color: lighten(black, 70%)
    }
  }

  .navi-items {
    width: 300px;

    a{
      padding: 25px;
    }

    h4 {
      display: inline;
      color: black;
      font-weight: bold;
    }

    ul {
      margin: 0;
      display: flex;

      li {
        a {
          margin: 0;
          color: black;
          text-decoration: none;
          padding: 25px;
        }
      }
    }
  }

  .navi-items-mobile {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navigation-module {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 15px;
    justify-content: center;

    .logo {
      display: none;
    }
    
    .navi-items {
      display: none;
    }
    .navi-items-mobile {
      display: block;
      position: relative;
      padding-bottom: 10px;
      z-index: 2;
      display: flex;
      flex-direction: column;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        h2 {
          padding: 25px 0;
          color: black;
          transition: all 0.3s;
        }
  
        h2.icon {
          transform: rotate(-180deg);
        }
      }

      .items {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        display: flex;
        .nav-link {
          color: black;
        }
        ul > li > a {
          color: black;
        }
      }
      
      .items.active-nav {
        max-height: 250px;
      }

    }
  }
}