@import "src/settings.scss";

.foodcourt-module {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
  }

  .btn-wrapper {
    margin-bottom: 25px;
  }
  
  .foodcourt-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .foodcourt {
      background-image: url("../../../public/reservation_background.png");
      background-position: center;
      background-size: contain;
      height: 550px;
      width: 800px;
      position: relative;

      .table {
        position: absolute;
        background-color: $color-primary;
        color: white;
        padding: 10px;
        border-radius: 5px;
        height: 20%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
      }
    }
  }

}