@import "src/settings.scss";

.account-page {
  display: flex;
  justify-content: center;
  height:90vh;
  padding-top: 25px;
  button {
    margin: 0;
  }
  .wrapper {
    .header {
      padding-bottom: 25px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        text-align: center;
      }
      h1 {
        font-weight: bold;
        text-align: center;
      }
    }

    .user-data {
      span {
        font-weight: bold;
      }
    }
  }
}