$color-default: #f0f7ff;
$color-success: #668c66;
$color-danger: #e45e5e;
$color-primary: #377cf3;
$color-white: white;
$color-darker-default: darken($color-white, 25%);

$background: $color-default;

$font-arsenal: 'Arsenal', sans-serif;